<h1>パスワードリセット</h1>

<p>こんにちは、<%= @user.name %>さん</p>

<p>以下のリンクをクリックして、パスワードを再設定してください。</p>

<%# フロントエンドのパスワード再設定ページのURLを指定する %>
<a href="http://localhost:3001/password-reset/<%= @token %>">パスワードをリセットする</a>

<p>このリンクの有効期限は2時間です。</p>

<p>もしこのメールに心当たりがない場合は、無視してください。</p>